#new-contact {
  margin: 0 0 $gutter 0;
}

#form-actions {
  margin: $gutter 0;
  text-align: right;
}

#contact-info {
  float: left;
  width: 50%;
  padding: 0 $gutter/2;

  @media screen and (max-width:767px){
    width: 100%;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding-bottom: $gutter/2;

      &:last-child {
        padding-bottom: 0;
      }

    }
  }
}

#contact-list-container {
  float: right;
  width: 50%;
  padding: $gutter/2;
  background-color: $contactListBgC;
  border-radius: $borderRadius;
  @media screen and (max-width:767px){
    width: 100%;
  }
}
