/* LAYOUT */
$gutter: 30px;
$font: "Courier New";
/* COLORS */
$primary-color: #1dc9b6;
$secondary-color: #6a8190;
$ok-color: #53c758;
$cancel-color: #f64c48;

$info-color: #85c3e0;
$warning-color: #eac892;
$error-color: #e77a82;

$textDefaultColor: #555555;
$textDefaultColorLight: #c2c2c2;

$contactListBgC: #f6e3c6;

/* ITEMS LIST */
$itemListLineC: #ababab; /* Border box */
$itemListBgC: #fffbf4; /* Background box */
$itemListBgHoverC: #C1C9C0; /* hover ContactItem */


/* NEW CONTACT FORM */
$inputContactFormColor: #B56357;
$borderRadius: 5px;
